*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    
}
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
   
}
main {
    width: 80% ;
    height: 100vh;
   
}
#seleccionReceta {
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 15px;
    background-color: #e2e2e2;
    border-radius: 5px;
    display: flex;
}